<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing access restriction type</h1>

  <%= render "form", access_restriction_type: @access_restriction_type %>

  <%= link_to "Show this access restriction type", @access_restriction_type, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to access restriction types", access_restriction_types_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
