<footer class="mt-16 bg-white border border-t-gray-200">
	<nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Bottom">
		<div class="w-full pb-6 flex items-center justify-between border-b border-jhublue lg:border-none">
			<div class="flex items-center">
				<a href="/">
					<span class="sr-only"></span>
					<%= image_tag "libraries.logo.small.horizontal.blue.png", class: "h-24 w-auto"%>
				</a>

				<div class="xs-hidden pl-10 py-4 space-x-8 lg:block">
					<a href="https://it.johnshopkins.edu/policies/privacystatement" class="text-base font-medium text-jhublue">
						Privacy
					</a>
					<a href="mailto:ask@jhu.libanswers.com?Subject=Johns%20Hopkins%20Libraries%20Find%20It%20Feedback" class="text-base font-medium text-jhublue">
						Feedback
					</a>
				</div>
			</div>
			<div class="ml-10 space-x-4">

			</div>
		</div>
		<div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
			<a href="https://it.johnshopkins.edu/policies/privacystatement" class="text-base font-medium text-jhublue">
				Privacy
			</a>
			<a href="mailto:ask@jhu.libanswers.com?Subject=Johns%20Hopkins%20Libraries%20Find%20It%20Feedback" class="text-base font-medium text-jhublue">
				Feedback
			</a>
		</div>
	</nav>
</footer>