<header class="border-b-gray-200">
    <%= render "layouts/nav" %>
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="w-full flex items-center justify-between border-b border-jhublue lg:border-none">
            <div class="flex items-center">
                    <span class="sr-only"></span>
                    <%= image_tag "libraries.logo.small.horizontal.blue.png", class: "h-32 w-auto" %>
                <div class="xs-hidden pl-10 py-4 space-x-8 lg:block border-l border-jhublue">
                    <h1 class="text-4xl text-medium font-body">
                        <span class="text-jhublue"><a href="/">Databases</a></span>
                    </h1>
                </div>
            </div>
            <div class="xs-hidden ml-10 space-x-4 lg:block">
            </div>
        </div>
        <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
        </div>
    </nav>
</header>
